.game {
  position: relative;
  margin: auto;
  height: 100vh;
  background-image: url("./spaceBg.jpg");
  overflow: hidden;
}

.cucumber {
  position: absolute;
  bottom: 20px;
  left: 50vw;
  width: 50px;
}

body {
  margin: 0;
  padding: 0;
  background: #333;
}
